<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basedamo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <!--友盟SDK   start-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--友盟SDK   end-->

    <!--科大讯飞   start-->
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--科大讯飞   end-->


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5656acc8e0f55ae1b7004393"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="baidu" />


        <!-- android:theme="@style/AppTheme" > -->
        <activity
            android:name="com.basedamo.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.basedamo.slideviewpaper.ViewPaperActivity" />
        <activity android:name="com.basedamo.volley.VolleyDemoActivity" />
        <activity android:name="com.basedamo.view.MyViewDemoActivity" />
        <activity android:name="com.basedamo.view.CircleImageActivity" />
        <activity android:name="com.basedamo.listview.ListViewTestActivity" />
        <activity android:name="com.basedamo.activity.BaseControlActivity" />
        <activity android:name="com.basedamo.activity.BitMapActivity" />
        <activity android:name="com.basedamo.activity.HardWareActivity" />
        <activity android:name="com.basedamo.activity.HardWareActivity2" />
        <activity android:name="com.basedamo.activity.NiceButton" />
        <activity android:name="com.basedamo.activity.ProteryAnimation1" />
        <activity android:name="com.basedamo.activity.ProteryAnimation2" />
        <activity android:name="com.basedamo.activity.ProteryAnimation3" />
        <activity android:name="com.basedamo.activity.ShowImageViewActivity" />
        <activity android:name="com.basedamo.activity.VolumActivity" />
        <activity android:name="com.basedamo.activity.XUtilsActivity" />
        <activity android:name="com.basedamo.activity.ExpendGridViewActivity" />
        <activity android:name="com.basedamo.activity.GridViewActivity" />
        <activity android:name="com.basedamo.activity.WebViewActivity" />
        <activity android:name="com.basedamo.activity.DesktopLogoNumberActivity" />
        <activity android:name="com.basedamo.activity.UmengFeedBackActivity" />
        <activity android:name="com.basedamo.activity.EmptyActivity" />
        <activity android:name="com.basedamo.activity.XunFeiVoiceInputActivity" />
        <activity android:name="com.basedamo.activity.XunFeiVoiceReaderActivity" />
        <activity android:name="com.basedamo.activity.RecyclerViewActivity" />
        <activity android:name="com.basedamo.activity.RecyclerViewActivity2" />
        <activity android:name="com.basedamo.activity.RecyclerViewActivity3" />
        <activity android:name="com.basedamo.activity.RecyclerViewActivity4" />
        <activity android:name="com.basedamo.activity.CardViewActivity" />
        <activity android:name="com.basedamo.activity.CutImageActivity" />
        <activity android:name="com.basedamo.activity.CutImageActivity2" />
        <activity
            android:name="com.basedamo.activity.PopViewActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.basedamo.activity.SlidingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.basedamo.activity.AsyncTaskActivity" />
        <activity android:name="com.basedamo.activity.ViewStubActivity" />
        <activity android:name="com.basedamo.activity.RingToneActivity" />
        <activity android:name=".activity.AudioRecoderActivity" />
        <activity android:name=".activity.FileDownLoadActivity" />
        <activity android:name=".activity.PartControlActivity" />
        <activity android:name=".activity.PartControl2Activity" />
        <activity android:name=".activity.PartControl3Activity" />
        <activity android:name=".activity.VoiceTalkActivity" />
        <activity
            android:name=".activity.SupportLibraryActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".activity.BaseRequestDemoActivity" />
        <activity android:name=".activity.QiniuUploadActivity" />
        <activity android:name=".activity.SecurityDemoActivity" />
        <activity android:name=".activity.GifActivity" />
        <activity android:name=".activity.GradleStudyActivity" />
        <activity android:name=".activity.SwipeRefreshLayoutActivity" />
    </application>

</manifest>